@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-family: 'Poppins';
    --text: #f9f9fa;
    --background: #262829;
    --primary: #707a89;
    --secondary: #45404f;
    --accent: #615568;
}

[data-theme="Light"] {
    font-family: 'Poppins';
    --text: #050506;
    --background: #f9fafa;
    --primary: #76808f;
    --secondary: #b5b0bf;
    --accent: #a397aa;
}

#root {
    display: flex;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;

    input, textarea {
        font-family: 'Poppins';
    }

    h1, h2, h3, h4, h5, h6, p, li, ul {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
    }
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.side-navigation {
    box-sizing: border-box;
    padding: 1.5rem;
    flex-shrink: 0;
    width: 18rem;
    height: 100vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;

    .top-navigation-part {
        height: 100%;
    }

    .bottom-navigation-part {
        height: max-content;
    }

    .menu-hamburger-container {
        display: flex;
        margin: 2rem 0 ;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .menu-title {
            font-weight: 500;
            font-size: 2rem;
        }

        .hamburger-menu {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .top-hamburger, .middle-hamburger, .bottom-hamburger {
                border-radius: 1rem;
                height: 2px;
                width: 20px;
                background-color: var(--text);
            }
        }
    }

    .profile-container {
        margin: 0 0 2rem 0;

        .introduction {
            margin: 0 0 0.5rem 0;
        }

        .username {
            font-weight: 600;
            font-size: 1.5rem;
        }
    }

    .todo-category-container {
        margin: 2rem 0;

        .todo-category-heading {
            font-weight: normal;
            font-size: 1rem;
            margin: 0 0 1rem 0;   
        }

        .todo-category-list {
            padding: 0;
            margin: 0 0 1rem 0;
            list-style: none;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

}

.side-navigation.hidden {
    width: 5rem;

    .bottom-navigation-part.hidden {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-menu.hidden {
        margin: 0.5rem 0;
    }

    .menu-hamburger-container.hidden {
        justify-content: center;
    }
}

.main-content {
    box-sizing: border-box;
    padding: 1.5rem 2.5rem;
    width: calc(100% - 18rem);

    .todo-category-title {
        font-weight: 500;
        margin: 2rem 0;

    }

    ul {
        padding: 0;
        list-style: none;
    }

    .todo, .add-todo-section {
        width: 100%;
        margin: 0 0 1rem 0;
        padding: 1rem 0;
        background-color: var(--accent);
        border-radius: 1rem;

        .todo-container {
            padding: 0 2rem;
        }
    }

    .todo-title {
        font-weight: 400;
    }

    .todo-description {
        font-weight: 300;
        word-wrap: break-word;
        margin: 1rem 0 0 0;
    }

    .edit-remove-complete-container {
        display: flex;
        justify-content: end;
    }

    .add-todo-container {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        .add-todo-title, .add-todo-description {
            background-color: rgba(0, 0, 0, 0);
            border: 0;
            color: var(--text);
        }

        .add-todo-title::placeholder, .add-todo-description::placeholder {
            color: rgba(256,256,256, 0.5);
        }

        .add-todo-title {
            font-size: 1.5rem;
        }

        .add-todo-description {
            font-size: 1rem;
            height: 25px;
        }

        .add-todo-button {
            align-self: end;
            width: 10rem;
        }
    }

    .edit-todo-input {
        display: flex; 
        flex-direction: column;

        .edit-title-input {
            font-size: 1.5rem;
            color: var(--text);
            background-color: var(--accent); 
            border-bottom: 1px solid rgba(256,256,256, 0.5);
            border-top: 0;
            border-left: 0;
            border-right: 0;
            padding: 0 0 0.5rem 0;
        }

        .edit-description-input {
            font-size: 1rem; 
            color: var(--text);
            background-color: var(--accent);
            border-bottom: 1px solid rgba(256,256,256, 0.5);
            border-top: 0;
            border-left: 0;
            border-right: 0;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
        }

        .edit-button {
            width: 10rem;
        }
    }
}
